extends container

block content
	section.hero(style="background-color:#F5F7FA")
		.hero-content
			.container
				h1.title
					| 模擬考測驗題
				h2.subtitle
					| 企業資源規劃 ENTERPRISE RESOURCE PLANNING
	hr
	h1.title 01_第一本書：企業資源規劃基礎篇
	h2.subtitle 模擬考題測驗 (Flash版)
	center
		embed(src='./flash/book1/one_all.swf', width='900', height='700')
	hr
	h1.title 02_第二本書：企業資源規劃配銷模組篇
	h2.subtitle 模擬考題測驗 (Flash版)
	center
		embed(src='./flash/book2/two_all.swf', width='900', height='700')
	br
	hr
	br
	include footer
