.message.is-success
	.message-header
		| 亞東技術學院 - ERP 企業資源規劃 課程資訊網
	.message-body
		.columns
			.column
				p
					span.icon.is-small
						i.fa.fa-home
					|  亞東技術學院 資訊管理學系 8 樓
				p
					span.icon.is-small
						i.fa.fa-map-marker
					|  (220) 新北市板橋區四川路二段58號
				p
					span.icon.is-small
						i.fa.fa-phone
					|  (02) 7738-8000 or (02) 7738-0145
			.column
				p
					span.icon.is-small
						i.fa.fa-user
					|  授課老師：賴建元 老師
				p
					span.icon.is-small
						i.fa.fa-leanpub
					|  課程名稱：ERP 企業資源規劃(配銷/財務)
				p
					span.icon.is-small
						i.fa.fa-github 
					|   
					a.content(href='https://github.com/PolarBearAndrew/ERP-TeachWeb-2' target='_blank')= '網站原始碼 ( Source Code )'
br
br
