html(lang="en")
	head
		meta(charset="UTF-8")
		title ERP 企業資源規劃
		
		//- link(rel='stylesheet', type='text/css', href='./semantic-ui/semantic.css')
		//- link(rel='stylesheet', type='text/css', href='./asset/stylesheets/reset.css')
		//- link(rel='stylesheet', type='text/css', href='https://cdn.rawgit.com/jgthms/bulma/master/css/bulma.min.css')
		link(rel='stylesheet', type='text/css', href='./asset/stylesheets/bulma.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
		
	body(style='background-color:rgba(83, 152, 196, 0.17)')
		.container(style='padding-top:10px')
			.columns
				.column
				.column
				.column
					p.navbar-item.is-centered
						img(src='./asset/images/oit.png', alt='亞東技術學院資管系', style='height: 120px;')
				.column
				.column

			nav.navbar
		
		section.hero.is-medium.is-success.is-bold
			.hero-body
				.container
					h1.title
						| ERP 企業資源規劃
					h2.subtitle
						| ENTERPRISE RESOURCE PLANNING
					a(href='./home.html' style='position:absolute; right:0px; top:10px').button.is-large.is-inverted.is-success 前往課程

		
		br
		br
		
		section.hero.is-medium.is-info.is-bold
			.hero-body
				.container
					h1.title
						| ERP 應用實務 (財務模組)
					h2.subtitle
						| ENTERPRISE RESOURCE PLANNING - FINANCE
					a(href='./home_2.html' style='position:absolute; right:0px; top:10px').button.is-large.is-inverted.is-info 前往課程
						
		br
		br
		
		.container
			include footer

		script(src='https://code.jquery.com/jquery-2.1.4.min.js')
		script(src='./semantic-ui/semantic.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js')
